.wrap{
    width: 1200px;
    margin: 0 auto;
}
h1{
    text-shadow: 2px 5px 10px red,-2px -5px 10px #7de29e;
}
.row{
    width: 100%;
    display: block;
}
.col{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.3);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.3);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.3);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.3);
    /*margin: 0 20px;*/
    transition: all 1s ease-in-out;
}
.col:hover{
    transform:  rotateX(360deg) rotateY(360deg) rotateZ(360deg) scale(2,2) ;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
    background: #ffb82c;
    color: white;
}
.row .col:nth-child(2){
    margin: 0 5%;
}
.row .col:first-child .sana{
    background: linear-gradient(0deg,#ff85a2,#ffb82c);
}
.row .col:first-child:hover{
    background-color: #ff85a2;
}
.sana{
    padding: 5rem 0;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(0deg,#ffb82c,#7579e2,red);
}
.text-sana{
    padding: 1.5rem 0;
    text-align: center;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../rasmlar/hello.jfif");
    background-repeat: no-repeat;
    background-size: 2100px;
    /*background: linear-gradient(30deg,yellowgreen,green,lightgreen,cadetblue,blue,purple,mediumpurple,plum,hotpink,mediumvioletred,red,orangered,orange,yellow,greenyellow);*/
}
.loader-block{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  /*  border: 4px solid rgba(255,255,255,0.5);*/
    position: relative;
    top: 41%;
    left: 41%;
}
.loader-item{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: loader;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.loader-item:nth-child(2){
    width: 80%;
    height: 80%;
    top:10%;
    left: 10%;
    animation-delay: 0.1s;
}
.loader-item:nth-child(3){
    width: 60%;
    height: 60%;
    top:20%;
    left: 20%;
    animation-delay: 0.2s;
}
.loader-item:nth-child(4){
    width: 40%;
    height: 40%;
    top:30%;
    left: 30%;
    animation-delay: 0.3s;
}
/*@keyframes loader {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
 */
/*@keyframes loader {
    0%{
        transform: rotateY(0) translate(0,0);
        border-top: 6px solid green;
        border-left: 6px solid green;
        border-right: 6px solid green;
        border-bottom: 6px solid transparent;

}
    10%{

        border-top: 6px solid darkolivegreen;
        border-left: 6px solid darkolivegreen;
        border-right: 6px solid darkolivegreen;
        border-bottom: 6px solid transparent;
}
    25%{
        transform: rotateY(180deg) translate(200px,0);
        border-top: 6px solid greenyellow;
        border-left: 6px solid greenyellow;
        border-right: 6px solid greenyellow;
        border-bottom: 6px solid transparent;
}
   35%{

        border-top: 6px solid darkcyan;
        border-left: 6px solid darkcyan;
        border-right: 6px solid darkcyan;
        border-bottom: 6px solid transparent;
    }
    50%{
        transform: rotateY(360deg) translate(0,-200px);
        border-top: 6px solid cyan;
        border-left: 6px solid cyan;
        border-right: 6px solid cyan;
        border-bottom: 6px solid transparent
    }
    60%{
        transform: translate(200px,0);
        border-top: 6px solid plum;
        border-left: 6px solid plum;
        border-right: 6px solid plum;
        border-bottom: 6px solid transparent;
    }
    75%{
        transform: rotateY(180deg) translate(0,200px);
        border-top: 6px solid mediumpurple;
        border-left: 6px solid mediumpurple;
        border-right: 6px solid mediumpurple;
        border-bottom: 6px solid transparent;
    }
   85%{
        transform: translate(-200px,0);
        border-top: 6px solid purple;
        border-left: 6px solid purple;
        border-right: 6px solid purple;
        border-bottom: 6px solid transparent;
    }
    100%{
        transform: rotateY(0) translate(0,0);
        border-top: 6px solid midnightblue;
        border-left: 6px solid midnightblue;
        border-right: 6px solid midnightblue;
        border-bottom: 6px solid transparent;
    }
}
*/
@keyframes loader {
    0%{
        transform: scale(1) translate(0,0) rotateX(0) rotateY(0) rotateZ(0);
        border-color: #ffb82c;
        border-radius: 50%;
    }
    15%{
        transform: translate(500px,0);
        border-color: #f2ff62;
    }
    25%{
        transform: skew(20deg) scale(0.8) translate(-600px,300px) rotateX(180deg) rotateY(180deg) rotateZ(45deg);
        border-color: greenyellow;
        border-radius: 10%;
    }
    40%{
        transform: translate(0,-300px);
        border-color: #fffcf6;
    }
    50%{
        transform: skew(20deg) scale(0.6) translate(700px,400px) rotateX(0) rotateY(0) rotateZ(0);
        border-color: mediumvioletred;
        border-radius: 50%;
    }
    65%{
        transform: translate(-450px,-300px);
        border-color: #d757ff;
    }
    75%{
        transform: skew(20deg) scale(0.8) translate(0,300px) rotateX(180deg) rotateY(180deg) rotateZ(45deg);
        border-color: blue;
        border-radius: 10%;
    }
    90%{
        transform:translate(500px,-250px);
        border-color: #bb91ff;
    }
    100%{
        transform: scale(1) translate(0,0) rotateX(0) rotateY(0) rotateZ(0);
        border-color: orangered;
        border-radius: 50%;
    }
}

